/*
 * Use this stylesheet to override styles for Reuters Graphics 
 * 2022 U.S. election embeds.
 * 
 * Update the CSS variables below and write any other styles
 * you need to align with your brand.
 *
 * When you're done, publish the CSS file somewhere public on 
 * the internet. Then in the embed previewer click the "Add a 
 * stylesheet" button and add the stylesheet's URL to the page.
 * Click "Overide CSS" button to apply those styles and "Copy 
 * embed code" to get your embed code for each embed including 
 * your custom styles.
 */

body {
}

html {
  /* font-size: 300%; */
}

/* trying to hide left-hand side table */
div.table.flex-child {
  display: none !important;
  visibility: hidden !important;
  width: 0% !important;
}

div.map.flex-child {
  width: 100% !important;
}

div.embedded {
  overflow: hidden !important;
}
/*
 * The following CSS variables control all colours and 
 * font-families on tables and maps in embeds.
 */


div#client-style-override {
  --republicanBgd: #fcdcdf;
  --republicanLead: #f4b3b0;
  --republicanScale01: #feb6ac;
  --republicanScale02: #f28d87;
  --republicanScale03: #e26163;
  --republicanScale04: #d02a41;
  --republicanFlip: #7c000f;
  --democratBgd: #dcf0fd;
  --democratLead: #a6d2eb;
  --democratScale01: #a0deff;
  --democratScale02: #7dc1eb;
  --democratScale03: #57a6d7;
  --democratScale04: #218ecd;
  --democratFlip: #004c7f;
  --independentLead: #d1e9d0;
  --independent: #3cba83;
  --tie: #f7d131;
  --tieLight: #fdf1c7;
  --noElection: #efefef;
  --tableBgd: #efefef;
  --noResults: #e7e7e7;
  --buttonBgd: #e3e3e3;
  --rule: #cccccc;
  --tableArrow: #cccccc;
  --grayText: #585858;
  --buttonActive: #585858;
  --stateFace: #585858;
  --lightGrayText: #6c6c6c;
  --blackText: #333333;
  --updateRed: #bf1818;
  --white: #ffffff;
  --fontFamilyDisplay: 'BBC Reith Sans';
  --fontFamilyMonospace: 'BBC Reith Sans', monospace;
  --fontFamilySansSerif: 'BBC Reith Sans';
}
