/*
 * Custom BBC Stylesheet for Reuters Election Graphics
 */

@font-face {
  font-family: BBCReithSans;
  src: url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2");
}

@font-face {
  font-family: BBCReithSans;
  src: url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff2");
  font-weight: bold;
}

@font-face {
  font-family: BBCReithSerif;
  src: url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Rg.woff2");
}

@font-face {
  font-family: BBCReithSerif;
  src: url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Bd.woff2");
  font-weight: bold;
}

/* *****Touchscreen specific***** */
/* trying to hide left-hand side table */
div.table.flex-child {
    display: none !important;
    visibility: hidden !important;
    width: 0% !important;
  }
  h3 {
    display: none !important;
  }

  div.map.flex-child {
    width: 100% !important;
  }
  
  div.office-body-container {
    /* width: 900px; */
    margin: auto;
    border-bottom: none !important;
  }
  div.office-body-container:first-child {
    display: none !important;
  }
  div.map-layout-navigation {
    visibility: hidden !important;
    bottom: 0%;
    position: absolute;
  }

  div.zoom-carto-controls {
    visibility: hidden !important;
  }

  .spinner-container{
    background-color:rgba(176, 178, 180, 0) !important;
    display: none !important;
  }
/* ********************* */

body {
  background-color: transparent !important;
  font-family: BBCReithSans;
}

html {
  font-size: 16px;
}

div#client-style-override {
  --republicanScale04: #cd181c;
  --democratScale04: #0a6aa6;
  --noResults: #cccccc;
  --bs-body-bg: rgba(176, 178, 180, 0) !important;
  --tableBgd: #ffffff;

  --fontFamilyDisplay: BBCReithSans, Helvetica, Arial, sans-serif;
  --fontFamilyMonospace: BBCReithSans, monospace;
  --fontFamilySansSerif: BBCReithSans, sans-serif;
  --bs-body-font-family: BBCReithSans;
  --bs-font-sans-serif: BBCReithSans;
}

.embedded {
  overflow: hidden !important;
}

.nav-container {
  margin-bottom: 1rem !important;
}

td.result.poll-close.hidden,
td.result.poll-close.specialElex {
  border-bottom: none !important;
  border: none !important;
}

.results-table-child .table-results tr.title th {
  font-weight: 700 !important;
  background-color: rgb(246, 246, 246) !important;
  color: rgb(84, 86, 88) !important;
  font-size: 0.9125rem !important;
  padding: 0.75rem 0px !important;
  border-bottom: 3px solid white;
  border-radius: 0px !important;
}

.results-table-child .table-results tr.labels th:nth-child(n + 2) {
  background-color: rgb(246, 246, 246) !important;
  color: rgb(84, 86, 88) !important;
  border-left: 3px solid white !important;
  margin-right: 2px !important;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  letter-spacing: normal !important;
}

td.result:not(.specialElex),
td.state-name,
td.state-name.has-votes {
  border-width: 0px !important;
  border-top: 1px solid rgb(205, 205, 205) !important;
  border-bottom: none !important;
}

td.state-name.has-votes.many-duplicates,
td.state-name.no-votes.inSpecialElexState,
td.state-name.first-duplicate.many-duplicates,
.state-name.en.senate.has-votes.many-duplicates.first-duplicate {
  border-width: 0px !important;
  border-top: 1px solid rgb(205, 205, 205) !important;
  border-bottom: 0px solid var(--white) !important;
}

td.hidden.many-duplicates,
td.state-name.no-votes.many-duplicates.hidden,
td.state-name.no-votes.specialElex {
  border-top: none !important;
  border-bottom: none !important;
}

.legend-dem-flip {
  background: repeating-linear-gradient(
    -45deg,
    var(--democratFlip) 0px,
    var(--democratFlip) 3px,
    var(--democratScale04) 3px,
    var(--democratScale04) 6px
  ) !important;
}

.legend-rep-flip {
  background: repeating-linear-gradient(
    -45deg,
    var(--republicanFlip) 0px,
    var(--republicanFlip) 3px,
    var(--republicanScale04) 3px,
    var(--republicanScale04) 6px
  ) !important;
}

pattern#democratFlip {
  transform: scale(2);
}

pattern#republicanFlip {
  transform: scale(2);
}

pattern#democratFlip > path {
  stroke-width: 1.6px;
}

pattern#republicanFlip > path {
  stroke-width: 1.6px;
}

button.office-switch {
  font-size: 20px !important;
}

@media (max-width: 27.5rem) {
  button.office-switch {
    font-size: 18px !important;
  }
}

.tooltip {
  box-shadow: none !important;
  border: solid 1px var(--buttonBgd);
  border-radius: 0px !important;
}

.tooltip-wrapper {
  box-shadow: none !important;
  border-top: solid 1px var(--buttonBgd);
}

.tooltip.below.sticky {
  border: none !important;
}

.modal-results {
  border-radius: 0px !important;
  border: none !important;
  border-top: solid 1px var(--buttonBgd) !important;
}

.map-graphic .map-wrapper .label.bgd {
  stroke-opacity: 1 !important;
}

@media (max-width: 680px) {
  .results-table-child .table-results tr.title th {
    padding-left: 8px !important;
  }
}